<div class="footer">
  <div class="copyright">
    <ul>
      <li id="icon"><a target="_blank" href="mailto:kjc5087@rit.edu"><i class="fas fa-envelope fa-2x" aria-hidden="true"></i></a></li>
      <li id="icon"><a target="_blank" href="http://www.github.com/Aeternitaas"><i class="fab fa-github fa-2x" aria-hidden="true"></i></a></li>
      <li id="icon"><a target="_blank" href="http://www.linkedin.com/in/ketmengjc/"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
    </ul>
    <p> Copyright &copy; Taiga Cheng 2018 </p>
  </div>
</div>
