<div class="head row container-fluid">
    {{header-button redirect="about" symbol="fas fa-question-circle" text=" About" class="col-sm-2"}}
    {{header-button redirect="projects" symbol="fas fa-wrench" text=" Projects" class="col-sm-2"}}
    {{#link-to "index"}} 
      <div class="col-sm-4"><a id="titlename">{ Taiga Cheng }</a></div>
    {{/link-to}}
    {{header-button redirect="resume" symbol="fas fa-file-alt" text=" Resume" class="col-sm-2"}}
    {{header-button redirect="coursework" symbol="fas fa-graduation-cap" text=" Coursework" class="col-sm-2"}}
</div>
