<h1 class="container-fluid"> 
  <strong> { About Me } </strong>
</h1>
<br/>
<div class="middle body-content">
			<p class="body-content">
				Hi, I'm Taiga! I'm a Junior at the  <strong>Rochester Institute of Technology</strong>, 
				aiming for a B.S. in <strong>Computer Science</strong> and a minor in <strong>Mathematics</strong>. Some of my ongoing areas of interest include <strong>pure mathematics</strong>, <strong>artificial intelligence</strong>,
				and <strong>Elixir</strong>.
				<br/>
				<br/>
				<br/>
				I enjoy <strong>exploring crumbling buildings and taking pictures of them</strong>, <strong>cooking
					and learning about ethnic cuisines</strong>, <strong>streetwear fashion</strong>, and 
				<strong>playing and listening to all types of music</strong>.
				<br/>
				<br/>
				<br/>
				I prefer <strong>Strong typing over Compiler abstractions</strong>,
				<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...<strong>Sony over Nikon</strong>,
				<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...<strong>Chopin over Bach</strong>,
				<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...<strong>and words over fists</strong>.
			</p>
		</div>

{{outlet}}
