<br/>
<div class="body-content">
  <img id="snow-leopards" src="https://www.gannett-cdn.com/-mm-/5c11d855f86f34307c4ce7f1c2518722f1ff2f92/c=0-88-1423-891/local/-/media/USATODAY/test/2013/08/27/1377632244000-AP-Bronx-Zoo-Snow-Leopard-001.jpg?width=3200&height=1680&fit=crop" alt="snow-leopards"/>
</div>
<br/>
<div class="middle body-content">
  <p class="body-content">
  Former Undergraduate student at <strong>Duquesne University</strong> and 
  current Undergraduate Computer Science student at the <strong>Rochester Institute of Technology</strong>.
  <br/>
  <br/>
  I take asbestos and syntatic sugar with my morning coffee.
  </p>
</div>
<br/>
